celery==5.4.0
Django==5.0.6
django-allauth==0.62.1
django-debug-toolbar==4.3.0
django-environ==0.11.2
django-extensions==3.2.3
django-redis==5.4.0
djangorestframework==3.15.1
gevent==24.2.1
importlib-metadata==4.13.0
pillow==10.3.0
psycopg2-binary==2.9.9
redis==5.0.4
stripe==9.6.0
tzdata==2024.1
python-dotenv
