{% extends 'products/base.html' %}
{% load humanize %}

{% block content %}
    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>Заказ #{{ object.id }}</h1>
                <div class="orders mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Назва</th>
                            <th scope="col">Кількість</th>
                            <th scope="col">Ціна</th>
                            <th scope="col">Сума</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchased_item in object.basket_history.purchased_items %}
                            <tr>
                                <th scope="row">
                                    {{ purchased_item.product_name }}
                                </th>
                                <td>{{ purchased_item.quantity }}</td>
                                <td>{{ purchased_item.price|intcomma }} руб.</td>
                                <td>{{ purchased_item.sum|intcomma }} руб.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="float-right h4 mt-3">Разом {{ object.basket_history.total_sum|intcomma }} грн.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}